
/* ==========================================================================
   Z-indexes
   ========================================================================== */

@dialogZIndex:    10001;
@crosshairZIndex: 10000;


/* ==========================================================================
   Core
   ========================================================================== */

.view--hidden {
  display: none;
}


/* ==========================================================================
   Dialog
   ========================================================================== */

.dialog {
  z-index: @dialogZIndex;
  position: absolute;
  width: 500px;
  height: 500px;
  padding: 20px;
  background: #333;

  &-ui {
    width: auto;
    height: auto;
  }

  &--hidden {
    display: none;
  }

  .center();
}


/* ==========================================================================
   Menu and Menu item
   ========================================================================== */

.menu {
  position: absolute;

  &--inline .menu-item {
    float: left;
  }
}

.menu-item {
  cursor: pointer;
  margin: 2px;
  background: #333;

  &-icon {
    width: 32px;
    height: 32px;
  }
}


/* ==========================================================================
   UIGrid
   ========================================================================== */

.ui-grid-item {
  float: left;
  width: 25%;
  padding: 2px;

  .box-sizing();

  &-ratio {
    position: relative;
    padding-bottom: 100%;
  }

  &-content {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
  }
}
