
/* ==========================================================================
   Core
   ========================================================================== */

.view--hidden {
  display: none;
}


/* ==========================================================================
   UIGrid
   ========================================================================== */

.ui-grid {
  &-item {
    float: left;
    width: 25%;

    .box-sizing();

    &-ratio {
      position: relative;
      padding-bottom: 100%;
    }

    &-content {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .clear-fix();
}


/* ==========================================================================
   UI Button
   ========================================================================== */

.ui-button {
  cursor: pointer;
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 1em 1.5em;
  line-height: 1em;
}


/* ==========================================================================
   Upload
   ========================================================================== */

.ui-upload {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  // Move the input out of the way as hovering 
  // over the original 'Choose File' button 
  // changes the cursor back to default
  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
  }

  &--button {
    overflow: hidden;
    position: relative;
  }
}


/* ==========================================================================
   Transformable SVG
   ========================================================================== */

.svg--transformable > * {
  cursor: move;
}


/* ==========================================================================
   Toggle Trigger
   ========================================================================== */

.tab-view-triggers {
  .clear-fix();
}

.toggle-trigger-view {
  position: relative;
  cursor: pointer;
  float: left;
  width: 50px;
  height: 50px;
  background: #f5f5f5;

  span {
    left: 30px;
    .center-vert();
  }

  &--active {
    background: #fff;
  }
}


/* ==========================================================================
   Tab View
   ========================================================================== */

.tab-view {
  width: 400px;
  height: 500px;
  background: red;
}


/* ==========================================================================
   Menu and Menu item
   ========================================================================== */

.menu {
  position: absolute;

  &--inline .menu-item {
    float: left;
  }
}

.menu-item {
  cursor: pointer;
  margin: 0 1px;
  background: #ccc;

  &-icon {
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
