
/* ==========================================================================
   Dialog
   ========================================================================== */

.dialog {
  position: absolute;
  width: 500px;
  height: 600px;
  padding: 20px;
  background: #333;

  &-ui {
    width: auto;
    height: auto;
  }

  &--hidden {
    display: none;
  }
}


/* ==========================================================================
   Menu and Menu item
   ========================================================================== */

.menu {
  position: absolute;
  width: 75px;
  height: auto;
}

.menu-item {
  cursor: pointer;
  margin: 2px 0;
  width: 100%;
  height: 75px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
}


/* ==========================================================================
   UIGrid
   ========================================================================== */

.ui-grid-item {
  float: left;
  width: 25%;
  padding: 2px;

  .box-sizing();

  &-ratio {
    position: relative;
  }

  &-content {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
  }

  &--square {
    .ui-grid-item-ratio {
      padding-bottom: 100%;
    }
  }
}
